//wide screens

@include mediaXl {
  .projects {
    grid-template-columns: repeat(4, 1fr);
  }
}
//desktop and lapTops
@include mediaLg {
  .projects {
    grid-template-columns: repeat(2, 1fr);
  }
}
//tablettes and small laptops
@include mediaMd {
  main {
    line-height: 1.6;
    text-align: center;
    align-items: center;
    justify-content: center;
    .lg-heading {
      margin-bottom: -2rem;
      line-height: 1.2;

      span {
        margin-bottom: 1rem;
      }
    }
  }

  ul.nav-menu,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0;
    &.show {
      transform: translate3d(0, 0, 0);
    }
  }
  .menu-nav {
    height: 73vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 24px;
    width: 100%;
  }
  .menu-branding {
    height: 26vh;
    margin-top: 1vh;
    background-position: center;

    transform: translate3d(100%, 0, 0);
    .portrait {
      background: url('http://127.0.0.1:5500/images/me-small.jpg');
      background-position: center;
      height: 200px;
      width: 200px;
    }
  }
  .about-info {
    grid-template-areas:
      'bioimage'
      'bio'
      'job1'
      'job2'
      'job3';
    grid-template-columns: 1fr;
  }
  #about {
    line-height: 1.6;
    .lg-heading {
      margin-bottom: 1rem;
    }
  }

  .projects {
    grid-template-columns: repeat(2, 1fr);
  }
}

// smart phones
@include mediaSm {
  .projects {
    grid-template-columns: repeat(1, 1fr);
  }
  #work {
    .lg-heading {
      margin-bottom: 2rem;
      font-size: 5rem;
    }
    h1 {
      line-height: 1.6;
    }
  }
}
